@model IEnumerable<gfi_test_landing.Models.RoleProjectByUserModel>

<link href="~/Content/css/lib/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
           
            <div class="card-body">
                <hr />
                <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="col-sm-12">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
                            <thead>
                                <tr>
                                    <th>@Html.Label("Project Name")</th>
                                    <th>@Html.Label("Project Description")</th>
                                    <th>@Html.Label("Role Name")</th>


                                    <th style="display:none"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.NameProject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.DescriptionProject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.NameRole)
                                        </td>
                                        <td>
                                         
                                            @Html.ActionLink(" ", "EditRoleProjectByUser", new { idUser = item.IdUser, idRole = item.IdRole, idProject = item.IdProject }, new { @class = "fa fa-edit" }) |
                                         
                                            @Html.ActionLink(" ", "_ModalDelete", new { idUser = item.IdUser, idRole = item.IdRole, idProject = item.IdProject, actionName = "roleProjectByUser" }, new { @class = "fa fa-trash-o", data_toggle = "modal", data_target = "#modal-container" })
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@Scripts.Render("~/Content/TableJS")

