@using gfi_test_landing.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Log in";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <div class="text-light">
                <div class="user-area dropdown float-right">

                    <div class="header-menu" id="language-select">
                        <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-UK" }, null)">
                            <img src="~/images/flag/uk.png" style=" width:40px "/>
                        </a>
                        <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "pt-PT" }, null)">
                            <img src="~/images/flag/pt.png" style=" width:40px " />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>

        <div class="row">
            <div class="col-sm"></div>

            <div class="text-center mb-4">
                <img class="mb-4" src="~/images/logo4.png" alt="" />

                <h1 class="h3 mb-3 font-weight-normal">@(gfi_test_landing.Resources.Login.Title)</h1>

                <p>@(gfi_test_landing.Resources.Login.SubTitle)</p>



                <div class="form-label-group">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-label-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                <div class="form-label-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                </div>



                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-12">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @*@Html.LabelFor(m => m.RememberMe)*@
                                            @(gfi_test_landing.Resources.Login.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="@(gfi_test_landing.Resources.Login.BtLogin)" class="btn btn-lg btn-primary btn-block" />

                                </div>
                                @*<p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>*@
                            </div>

                        }
                    </section>
                </div>
            </div>
            @*</form>*@
            <div class="col-sm"></div>

        </div>

    </div>

        





